<%layout("/layouts/boilerplate")%>
<div class="container py-5">

    <div class="row justify-content-center">
    <div class="col-lg-8">

        <h2 class="fw-bold mb-4">
            <%= listing.title %>
        </h2>

        <img
            src="<%= listing.image.url %>"
            alt="<%= listing.title %>"
            class="show-img mb-4"
        >

        <div class="card border-0 shadow-sm p-4">

            <p class="mb-3">
                <strong>Description:</strong><br>
                <%= listing.description %>
            </p>

            <p class="mb-2">
                <strong>Price:</strong>
                &#8377;<%= listing.price.toLocaleString("en-IN") %> / night
            </p>

            <p class="mb-2">
                <strong>Location:</strong>
                <%= listing.location %>, <%= listing.country %>
            </p>

            <div class="d-flex gap-3 mt-4">

                <a
                    href="/listings/<%= listing._id %>/edit"
                    class="btn btn-dark rounded-pill px-4"
                >
                    Edit
                </a>

                <form
                    method="POST"
                    action="/listings/<%= listing._id %>?_method=DELETE"
                >
                    <button
                        class="btn btn-danger rounded-pill px-4"
                    >
                        Delete
                    </button>
                </form>

            </div>

        </div>

    </div>
    <div class="col-lg-8">
        <hr class="my-5">
        <h3 class="fw-bold mb-4 mt-5">
            Leave a Review
        </h3>
        <form action = "/listings/<%= listing._id %>/reviews" method = "POST" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for = "rating">Rating</label>
                <input type="range" class="form-range" min="1" max="5" id="rating" name = "review[rating]">
            </div>
            <div class="mb-3">
                <label for = "comment">Comment</label>
                <textarea class="form-control" id="comment" rows="3" name = "review[comment]" required></textarea>
            </div>
            <button type="submit" class="btn btn-dark rounded-pill px-4">Submit</button>
        </form>
       
    </div>
</div>

</div>
